<launch>
	<node name="control_fsm_node" pkg="control_fsm" type="control_fsm_main" output="screen">
		<param name="dest_reached_margin" value="0.3"/>
		<param name="blind_hover_altitude" value="1.0"/>
		<param name="takeoff_altitude" value="1.0"/>
		<param name="altitude_reached_margin" value="0.1"/>
		<param name="control_planner_plan" value="/control/planner/plan"/>
		<param name="control_planner_position" value="/control/planner/current_position"/>
		<param name="control_planner_target" value="/control/planner/target"/>
		<param name="setp_reached_margin" value="0.3"/>
	</node>
</launch>