<launch>
	<arg name="topic_planner_plan" default="/control/planner/plan" />
	<arg name="topic_planner_target" default="/control/planner/target"/>
	<arg name="topic_robot_position" default="/control/planner/current_position"/>
	<arg name="topic_planner_obstacles" default="/control/planner/obstacles"/>
	<arg name="topic_lidar" default="/perception/obstacles/lidar"/>
	<node name="control_fsm_node" pkg="control_fsm" type="control_fsm_main" output="screen">
		<param name="dest_reached_margin" value="0.3"/>
		<param name="blind_hover_altitude" value="1.0"/>
		<param name="takeoff_altitude" value="1.0"/>
		<param name="altitude_reached_margin" value="0.1"/>
		<param name="control_planner_plan" value="$(arg topic_planner_plan)"/>
		<param name="control_planner_position" value="$(arg topic_robot_position)"/>
		<param name="control_planner_target" value="$(arg topic_planner_target)"/>
		<param name="control_planner_obstacles" value="$(arg topic_planner_obstacles)"/>
		<param name="setp_reached_margin" value="0.3"/>
		<param name="fsm_error_topic" value="control/fsm/on_error"/>
		<param name="fsm_info_topic" value="control/fsm/on_info"/>
		<param name="fsm_warn_topic" value="control/fsm/on_warn"/>
		<param name="fsm_state_changed_topic" value="control/fsm/state_changed"/>
		<param name="status_msg_buffer_size" value="10"/>
		<param name="goto_hold_dest_time" value="0.5"/>
		<param name="safe_hover_alt" value="2.5"/>
		<param name="obstacle_too_close_dist" value="2.0"/>
		<param name="lidar_topic" value="$(arg topic_lidar)"/>
		<param name="yaw_reached_margin" value="0.02"/>
		<param name="no_yaw_correct_dist" value="0.2"/>
	</node>
</launch>