<launch>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="/dev/pixhawk:921600"/>
    </include>
    <arg name="fsm_name" default="control_fsm_node"/>
    <include file="$(find control_fsm)/launch/control_fsm.launch">
    	<arg name="node_name" value="$(arg fsm_name)"/>
    </include>
    <include file="$(find ascend_utilities)/launch/land_detector.launch"/>
    <param name="$(arg fsm_name)/require_obs_detection" value="false"/>
    <param name="/mavros/local_position/frame_id" value="odom"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="localglobaltf" args="0 0 0 0 0 0 1 odom map" />
	<include file="$(find control_fsm)/launch/path_planner.launch"/>
</launch>
