<launch>

    <arg name="topic_planner_plan" default="/control/planner/plan" />
    <arg name="topic_planner_target" default="/control/planner/target"/>
    <arg name="topic_planner_position" default="/control/planner/current_position"/>
    <arg name="topic_planner_obstacles" default="/control/planner/obstacles"/>
    <arg name="topic_land_detector" default="/mavros/extended_state"/>
    <arg name="logging" default="false"/>

    <include file="$(find control_fsm)/launch/control_fsm.launch">
        <arg name="topic_planner_plan" value="$(arg topic_planner_plan)"/>
        <arg name="topic_planner_target" value="$(arg topic_planner_target)"/>
        <arg name="topic_robot_position" value="$(arg topic_planner_position)"/>
        <arg name="topic_planner_obstacles" value="$(arg topic_planner_obstacles)"/>
        <arg name="topic_land_detector" value="$(arg topic_land_detector)"/>
        <arg name="require_obs_detection" value="false" />
    </include>
    <node name="planner_node" pkg="planner" type="planner_node" output="screen">
        <param name="topic_planner_plan" value="$(arg topic_planner_plan)"/>
        <param name="topic_planner_target" value="$(arg topic_planner_target)"/>
        <param name="topic_robot_position" value="$(arg topic_planner_position)"/>
        <param name="topic_obstacles" value="$(arg topic_planner_obstacles)"/>    
        <param name="logging" value="$(arg logging)"/>    
    </node>  
</launch>
