<launch>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="/dev/ttyUSB0:921600"/>
    </include>
    <include file="$(find control_fsm)/launch/mocap_feedback.launch"/>

    <arg name="fsm_name" default="control_fsm_node"/>
    <include file="$(find control_fsm)/launch/control_fsm.launch">
        <arg name="node_name" value="$(arg fsm_name)"/>
    </include>
    <param name="$(arg fsm_name)/require_obs_detection" value="false"/>
    <param name="$(arg fsm_name)/land_detector_topic" value="/land_detector"/>
    <param name="$(arg fsm_name)/land_detector_type" value="landing_gear"/>

    <node pkg="control_fsm" name="mocap_data_faker" type="mocap_data_faker"/>
    	<remap from="/mavros/mocap/pose" to="/perception/local_position"/>
    /node>
    <node pkg="control_fsm" name="gb_pose_estimation" type="gb_pose_estimation"/>
    	
</launch>
