<launch>
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
	</include>
	
	<arg name="topic_planner_plan" default="/control/planner/plan" />
	<arg name="topic_planner_target" default="/control/planner/target"/>
	<arg name="topic_robot_position" default="/control/planner/current_position"/>
	<arg name="topic_obstacles" default="/control/planner/obstacles"/>
	<arg name="logging" default="false"/>

	<node name="control_fsm_node" pkg="control_fsm" type="control_fsm_main" output="screen">
		<param name="dest_reached_margin" value="0.3"/>
		<param name="blind_hover_altitude" value="1.0"/>
		<param name="takeoff_altitude" value="1.0"/>
		<param name="altitude_reached_margin" value="0.1"/>
		<param name="control_planner_plan" value="$(arg topic_planner_plan)"/>
		<param name="control_planner_position" value="$(arg topic_robot_position)"/>
		<param name="control_planner_target" value="$(arg topic_planner_target)"/>
		<param name="fsm_error_topic" value="control/fsm/on_error"/>
		<param name="fsm_info_topic" value="control/fsm/on_info"/>
		<param name="fsm_warn_topic" value="control/fsm/on_warn"/>
		<param name="fsm_state_changed_topic" value="control/fsm/state_changed"/>
		<param name="status_msg_buffer_size" value="10"/>
		<param name="setp_reached_margin" value="0.3"/>
	</node>

	<node name="planner_node" pkg="planner" type="planner_node" output="screen">
		<param name="topic_planner_plan" value="$(arg topic_planner_plan)"/>
		<param name="topic_planner_target" value="$(arg topic_planner_target)"/>
		<param name="topic_robot_position" value="$(arg topic_robot_position)"/>
		<param name="topic_obstacles" value="$(arg topic_obstacles)"/>	
		<param name="logging" value="$(arg logging)"/>	
	</node>	

</launch>