<launch>
	<arg name="fsm_name" default="control_fsm_node"/>
    	<include file="$(find mavros)/launch/px4.launch">
        	<arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    	</include>
    	<include file="$(find control_fsm)/launch/control_fsm.launch">
		<arg name="node_name" value="$(arg fsm_name)"/>
		<param name="land_detector_topic" value="/mavros/extended_state"/>
		<param name="land_detector_type" value="mavros_extended_state"/>
	</include>
    	<param name="$(arg fsm_name)/require_obs_detection" value="false"/>
    	<param name="$(arg fsm_name)/land_xy_goto_altitude" value="2.0"/>
    	<param name="$(arg fsm_name)/takeoff_altitude" value="2.0"/>
    	<param name="$(arg fsm_name)/land_detector_topic" value="/mavros/extended_state"/>
    	<param name="$(arg fsm_name)/land_detector_type" value="mavros_extended_state"/>
    	<param name="$(arg fsm_name)/restrict_arena_boundaries" value="false"/>
	<param name="/mavros/local_position/frame_id" value="odom"/>
    	<node pkg="tf2_ros" type="static_transform_publisher" name="localglobaltf" args="1 0 0 0 0 0 1 odom map" />
</launch>
