<launch>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>

    <include file="$(find control_fsm)/launch/control_fsm.launch">
        <arg name="topic_land_detector" value="/mavros/extended_state"/>
        <arg name="require_all_streams" value="true"/>
        <arg name="require_obs_detection" value="false"/>
        <arg name="land_xy_goto_altitude" value="2.0"/>
        <arg name="takeoff_altitude" value="2.0"/>
    </include>


</launch>
