<launch>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>

    <include file="$(find control_fsm)/launch/control_fsm.launch">
        <arg name="require_all_streams" value="false"/>
        <arg name="require_obs_detection" value="false"/>
    </include>


</launch>
